@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 110vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row_narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}


p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    display: inline;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
}

h1 {
    font-size: 44px;
    color: #1a202c;
    line-height: 1.25;
}

.purple{
    color: #6415ff;
}

.section__tag {
    font-size: 16px;
    color:#6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#features .section__title,
#pricing .section__title {
    text-align: center;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}



/* navigation */

.nav__row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 24px;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;


}
.nav__logo--img {
    max-width: 40px;
    max-height: 40px;
}

.nav__logo--title {
    display: flex;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    font-weight: bold;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    text-decoration: none;
    font-size: 14px;
    color: #243e63;
    font-weight: 600;
    padding: 8px;
}

.nav__link--primary {
    padding: 8px 24px;
    background-color: #6415ff;
    color: #fff;
    border-radius: 500px;
    margin-left: 20px;
    font-weight: 600;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 aut0;
}


/* header */

header {
    position: relative;
}

section {
    padding: 0 32px;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.header__img--wrapper {
  width: calc(100% - 40%);
  margin-top: 44px;
  margin-left: 36px;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__description--para {
    margin: 24px 0;
    font-size: 20px;
    line-height: 1.5;
}

.header__email {
    width: 100%;
    height: 68px;
    max-width: 448px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.header__email--btn {
    border: none;
    background-color: #6415ff;
    color: white;
    margin: 8px;
    height: calc(100% - 16px);
    width: 160px;
    border-radius: 500px;
    font-size: 16px;
    font-weight: 600;
    z-index: 2;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.header__customers--title {
    font-size: 14px;
    color: #7c8ba1;
    font-weight: 500;
    margin-top: 64px;
}

.header__customers {
    margin-top: 16px;
    padding-right: 96px;
    opacity: 0.5;
}


/* features */

#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .section__para {
    max-width: 580px;
    text-align: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 60px;
}

.feature {
    width: calc(100%/3);
}

.feature__row {
    display: flex;
    margin: 12px 0;
}

.feature__img--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 24px;
    padding: 32px;
    border-width: 2px;
    border-color:#eeeeee;
    border-style: solid;
    border-radius: 100%;
}

.feature__img {
   width: 24px;
   height: 24px;
}

.feature__para {
    margin: 24px;
    line-height: 2;
    max-width: 200px;
    color: #7c8ba1;
}

/* quality */

#quality .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#quality .btn {
    margin-top: 24px;
}

.quality__description {
width:50%;
}

.quality__img--wrapper {
    width: 50%;
    margin-left: 36px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 4px;
}

/* steps */

#steps .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.steps__img--wrapper {
    width: 50%; 
    display: flex;
}

.steps__description {
    width: 50%;
    padding: 32px 64px;
    padding-left: 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    font-size: 40px;
    font-weight: 500;
    color: #d4d5d6;
    margin-right: 24px;
}

.step__title {
    font-size: 24px;
    font-weight: 500;
    color: #243e63;
    margin-bottom: 8px;
}

.step__para {
    line-height: 1.75;
    color: #7c8ba1;
}

/* values */

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#values .section__title {
  margin-top: 16px;
  margin-bottom: 32px;
}
#values .btn {
  margin-top: 48px;
}
.value {
  margin-top: 2rem;
  margin-right: 2rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.values__description {
  padding: 32px 64px 32px 0;
}
.values__description,
.values__img {
  width: 50%;
}
.values__list {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  max-width: none;
  flex-direction: row;
}

.value__title {
  display: flex;
  align-items: center;
}
.value__img {
  width: 20px;
  height: 20px;
}